@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumSquareNeo";
  src: url("./font/NanumSquareNeoTTF-aLt.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("./font/NanumSquareNeoTTF-cBd.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("./font/NanumSquareNeoTTF-eHv.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

* {
  font-family: "NanumSquareNeo";
}

body {
  background-color: #0d1c2b;
}
